In [1]:
import pandas as pd
from naragon_stock_prediction_util_functions import read_stock_csv
from naragon_ml_model_functions import *
from sklearn import svm, neighbors
from sklearn.ensemble import VotingClassifier, RandomForestClassifier

In [2]:
#datos a procesar en el directorio
annomes_procesar = '200001_201812' #train
annomes_procesar = '201901_201912' #test
data_dir = 'historic_stock_data_' + annomes_procesar

In [3]:
#seleccionamos parametros para construir el modelo de entrenamiento y ajuste
#elegimos una empresa a analizar - el ticker corresponde a Indra
ticker = 'IDR'
variable_objetivo = 'Adj Close_' + ticker
porcentaje_cambio_etiqueta = 0.02
dias_analisis_variacion = 1
col_target = 'porc_variacion_dia_'.format(dias_analisis_variacion)

In [4]:
#leemos el Df total
df = read_stock_csv('TOTAL_' + annomes_procesar, data_dir)

In [5]:
df.columns

Index(['Adj Close_ANA', 'Adj Close_ACX', 'Adj Close_ACS', 'Adj Close_AENA',
       'Adj Close_AMS', 'Adj Close_MTS', 'Adj Close_SAB', 'Adj Close_SAN',
       'Adj Close_BKIA', 'Adj Close_BKT', 'Adj Close_BBVA', 'Adj Close_CABK',
       'Adj Close_CLNX', 'Adj Close_CIE', 'Adj Close_ENG', 'Adj Close_ENC',
       'Adj Close_ELE', 'Adj Close_FER', 'Adj Close_GRF', 'Adj Close_IAG',
       'Adj Close_IBE', 'Adj Close_ITX', 'Adj Close_IDR', 'Adj Close_COL',
       'Adj Close_MAP', 'Adj Close_TL5', 'Adj Close_MEL', 'Adj Close_MRL',
       'Adj Close_NTGY', 'Adj Close_REE', 'Adj Close_REP', 'Adj Close_SGRE',
       'Adj Close_TRE', 'Adj Close_TEF', 'Adj Close_VIS'],
      dtype='object')

In [6]:
df.head()

,Adj Close_ANA,Adj Close_ACX,Adj Close_ACS,Adj Close_AENA,Adj Close_AMS,Adj Close_MTS,Adj Close_SAB,Adj Close_SAN,Adj Close_BKIA,Adj Close_BKT,...,Adj Close_TL5,Adj Close_MEL,Adj Close_MRL,Adj Close_NTGY,Adj Close_REE,Adj Close_REP,Adj Close_SGRE,Adj Close_TRE,Adj Close_TEF,Adj Close_VIS
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,70.605431,7.560299,29.100174,117.185883,59.910358,17.437256,0.916835,3.589951,1.895976,6.474364,...,5.333899,8.138680,10.146363,20.175854,17.652636,12.572499,10.916301,21.010000,6.710058,44.423534
2019-01-03,72.059067,7.405253,29.170204,117.228668,56.614510,17.093801,0.913721,3.618833,1.879489,6.439116,...,5.312900,7.903769,10.061574,20.014660,17.706278,12.590163,10.707233,20.740000,6.821499,44.290466
2019-01-04,72.323372,7.824584,29.607937,120.179695,58.564713,18.193253,0.956225,3.754218,1.985154,6.639469,...,5.393080,8.163150,10.169914,20.175854,17.704193,12.890456,11.145279,21.440001,6.910290,45.088837
2019-01-07,72.814217,7.907393,29.704239,119.024925,59.110767,18.540655,0.959423,3.775428,1.996395,6.635759,...,5.591622,8.123998,10.184046,20.229582,17.658865,12.784471,11.175146,21.410000,6.972806,45.240910
2019-01-08,73.852531,8.104726,30.010645,119.751999,60.612431,18.967014,0.960343,3.806566,2.015130,6.711819,...,5.568714,8.368697,10.419570,20.301226,17.658865,12.797718,11.379235,21.870001,6.961934,46.134323